.chart {

    .bar {
        fill: grey;
    }

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
    }

    .label {
        font-size: 6px;
        text-anchor: middle;
    }

}